@page "/atc-ops"
@using Foresite.Components.Shared
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.QuickGrid
@using static Foresite.Services.Fra
@inject IHttpContextAccessor contextAccessor
@inject IvaoApiService ivao
@attribute [RequiredStaffRole(StaffRole.AtcOps)]

<QuickGrid Items="ivao.GetFras().OrderByDescending(f => f.Level).AsQueryable()">
	<PropertyColumn Title="Position" Property="g => g.Position" Sortable="true" />
	<TemplateColumn Title="Principal">
		@if (context.Principal is RatingPrincipal rp)
		{
			<img src="https://www.ivao.aero/data/images/ratings/atc/@((int)rp.MinimumRating).gif" />
		}
		else if (context.Principal is UserPrincipal up)
		{
			<a href="https://ivao.aero/Member.aspx?Id=@up.Vid" target="_blank">@up.Vid</a>
		}
	</TemplateColumn>
	<TemplateColumn Title="Enabled" SortBy="GridSort<Fra>.ByAscending(g => g.Enabled)" IsDefaultSortColumn="true">
		<input type="checkbox" checked="@context.Enabled" />
	</TemplateColumn>
	<TemplateColumn Title="Delete">
		<a class="delete" target="_blank" href="https://data.ivao.aero/@(context.Level >= PositionType.CTR ? "centers" : "airports")/info/@(context.Position.Split('_')[0])">🗑️</a>
	</TemplateColumn>
</QuickGrid>

@code {
	protected override async Task OnParametersSetAsync()
	{
		if (ivao.Registered)
			return;

		if (contextAccessor.HttpContext is not HttpContext context)
			throw new Exception();

		ivao.RegisterUser(context.User.Identity!.ToUser(await context.GetTokenAsync()));
		ivao.OnCacheUpdated += () => InvokeAsync(StateHasChanged);
	}
}